body{background-color: white;}
img{border-width: 0px;}
img#arrow,img#arrowImg{width: 470px; height: 330px;}
#button1,#button2{width: 113PX; height: 33px;}
.centered{text-align: center;}
#adBanner{width: 400px; height: 500px;}


